.App-header {
  background-color: #c2c2c2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.pointer {
  cursor: pointer;
}

.modal-title {
  width: 100%;
}

.w-240 {
  width: 240px;
}